
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<h2>Update Account</h2>

<div class="account-update">
<form method="post" action="/account/update">
    <fieldset>
        <label>First name<span class="required">*</span>
        <input
            type="text"
            name="account_firstname"
           id="accountFirstname"
            required
           value="<%= locals.account_firstname %>"            
            autocomplete="given-name"
            title="Enter your first name"
        />
        </label>
        <label>Last name<span class="required">*</span>
        <input
            type="text"
            name="account_lastname"
            id="accountLastname"
            required
            value="<%= locals.account_lastname %>"
            autocomplete="family-name"
            title="Enter your last name"
        />
        </label>
        <label>Email<span class="required">*</span>
            <input type="email" 
            name="account_email" 
            id="accountEmail" 
            required 
            autocomplete="email" 
           value="<%= locals.account_email %>"   
            title="Enter your email address" 
            placeholder="Enter a valid email address">
        </label>
        <input type="submit" value="Update" />
      <input type="hidden" name="account_id"
        <% if(locals.account_id) { %> value="<%= locals.account_id %>"
        <% } %>>
    </fieldset>
</form>                            
</div>

<h2>Update Password</h2>
<p>This will change your password</p>
<p>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</p>
<form action="/account/update-password" method="post">
    <fieldset>
        <label>Password<span class="required">*</span>
            <input type="password" name="account_password" id="accountPassword" required autocomplete="current-password" title="Enter your password"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" 
            />
        </label>
        <input type="submit" value="Update Password" />
              <input type="hidden" name="account_id"
        <% if(locals.account_id) { %> value="<%= locals.account_id %>"
        <% } %>>
    </fieldset>
</form>


