
<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<%#
If you were to go to the Express-Messages documentation, and look specifically at the Rendering Messages section, you will find that the code block will actually set up an unordered list, to display a list of messages. In other words, in the package is a loop to build the structure to display one or many messages, depending on how many have been set.
%>
<div class="hero-container">
<div class="hero">
    <img src="/images/vehicles/delorean.jpg" alt="Delorean" height="255" width="500">
    <div class="description">
        <div>DMC Delorean</div>
        <div>3 Cup holders</div>
        <div>Superman doors</div>
        <div>Fuzzy dice!</div>
        <button>Own Today</button>
    </div>
</div>
</div>
<div class="main-across">
    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrade-items">
        <% upgrades.forEach( (upgrade) => { %>
            <div class="upgrade-item">
                <img src="/images/upgrades/<%= upgrade.image %>" alt="test" height="55" width="55">
                <a href="#"><p><%= upgrade.name %></p></a>
            </div>
        <% }) %>
        </div>
    </div>
    <div class="reviews">
                <h2>DMC Delorean Reviews</h2>
        <ul>
        <% reviews.forEach( (review) => { %>
            <li><%= review.text %> (<%= review.stars %>/5)</li>
        <% }) %> 
        </ul>
    </div>
</div>
