<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="classification-entry">
<p>All fields are required.</p>
<form method="post" action="/inv/vehicle-entry" id="vehicleForm">
    <label>Classification
        <%- classificationList %>
    </label>  
 
    <label>Make<span class="required">*</span>
        <input
          type="text"
          name="inv_make"
          id="invMake"
          required
          value="<%= locals.inv_make %>"  
          pattern=".{3,}"          
          placeholder="Min of 3 characters"
        />
      </label>
    <label>Model<span class="required">*</span>
        <input
          type="text"
          name="inv_model"
          id="invModel"
          required
          value="<%= locals.inv_model %>"  
          pattern=".{3,}"          
          placeholder="Min of 3 characters"
        />
      </label> 
    <label>Description<span class="required">*</span>
        <input
          type="text"
          name="inv_description"
          id="invDescription"
          required
          value="<%= locals.inv_description %>"  
          pattern=".{1,}"
        />
      </label>   
    <label>Image Path<span class="required">*</span>
        <input
          type="text"
          name="inv_image"
          id="invImage"
          required
          value="<%= locals.inv_image ? locals.inv_image : '/images/vehicles/no-image.png' %>"
          pattern=".{3,}"
        />
      </label>  
    <label>Thumbnail Path<span class="required">*</span>
        <input
          type="text"
          name="inv_thumbnail"
          id="invThumbnail"
          required
          value="<%= locals.inv_thumbnail ? locals.inv_thumbnail : '/images/vehicles/no-image.png' %>"
          pattern=".{1,}"
          value="/images/vehicles/no-image.png"
        />
      </label>     
    <label>Price<span class="required">*</span>
        <input
          type="number"
          min="0"
          step="0.01"
          name="inv_price"
          id="invPrice"
          required
          value="<%= locals.inv_price %>"  
          placeholder="decimal or integer"
        />
      </label>    
    <label>Year<span class="required">*</span>
        <input
          type="text"
          min="0"
          name="inv_year"
          id="invYear"
          required
          value="<%= locals.inv_year %>"  
            pattern="^\d{4}$"
          placeholder="4-digit year"
        />
      </label>   
    <label>Miles<span class="required">*</span>
        <input
          type="number"
          min="0"
          name="inv_miles"
          id="invMiles"
          required
          value="<%= locals.inv_miles %>"  
          pattern="^\d+$"
          placeholder="digits only"
        />
      </label>     
    <label>Color<span class="required">*</span>
        <input
          type="text"
          name="inv_color"
          id="invColor"
          required
          value="<%= locals.inv_color %>"
        />
      </label>                                    
    <input type="submit" value="Add Vehicle" />
</div>
